<div class="container">
		<div class="row text-center">
			<span class="header">Peer Teacher Central</span>
		</div>
		<div class="row">
			<span class="sub-header">Available Peer Teachers</span>
		</div>
		<div class="row">
			<div class="col-sm-6" *ngFor="#person of currentPeople">
				<div class="card">
					<div class="col-sm-3">
						<img [src]="'https://engineering.tamu.edu' + person.imageURL">
					</div>
					<div class="col-sm-5">
						<h2>{{person.name}}</h2>
						<div *ngFor="#class of person.classes">
						{{class}}
						</div>
					</div>
					<div class="col-sm-4">
					<h3>Office Hours:</h3>
					<table class=" table table-condensed">
						<tbody>
							<tr *ngFor="#time of person.hours">
								<td>{{time.day}}</td>
								<td>{{time.time}}</td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
			</div>
			<div class="col-sm-6" *ngFor="#session of reviewSessions">
				<div class="short-card">
					<div class="col-sm-5">
						<h2>{{session}}</h2>
					</div>
					<div class="col-sm-5">
						
					</div>
				</div>
			</div>
		</div>
	</div>